#app {
  font-family: 'Roboto';
  font-style: normal;
  color: #000000;
}

.book {
  max-width: 1060px;
  margin: 0 auto;
  padding: 41px 28px 31px;
  background-color: #F2F2F2;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 37px;
}

.header .line {
  width: 650px;
  border: 2px solid #BDBDBD;
}

.book__menu {
  display: flex;
}

.book__menu .book__menu-item {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  padding: 28px 30px;
}

.book__menu .book__menu-item a {
  text-decoration: none;
  color: #000000;
}

.book__container {
  padding: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  background-color: #FFFFFF;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
}

.book__card {
  max-width: 220px;
  height: 441px;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #BDBDBD;
}

.book__card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book__card img {
  width: 90%;
  border-radius: 8px;
}

.book__card .title {
  font-size: 16px;
  font-weight: 600; 
}