<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MBIT</title>
</head>
<body>
  <form action="/submit" id="questionForm" method="post">
    <div class="status">
      <span>1/10</span>
      <div class="status-bar"></div>
    </div>
    <div class="question">
      <h2>Q. 당신이 가장 재밌었던 수업은?</h2>
      <ol class="answer-list">
        <li class="answer-item">
          <input type="radio" id="answer1" name="question1" value="5">
          <label for="answer1">1. 게임 개발(유니티)</label>
        </li>
        <li class="answer-item">
          <input type="radio" id="answer1" name="question1" value="5">
          <label for="answer1">2. 게임 개발(유니티)</label>
        </li>
        <li class="answer-item">
          <input type="radio" id="answer1" name="question1" value="5">
          <label for="answer1">3. 게임 개발(유니티)</label>
        </li>
        <li class="answer-item">
          <input type="radio" id="answer1" name="question1" value="5">
          <label for="answer1">4. 게임 개발(유니티)</label>
        </li>
        <li class="answer-item">
          <input type="radio" id="answer1" name="question1" value="5">
          <label for="answer1">5. 게임 개발(유니티)</label>
        </li>
      </ol>
    </div>
    <div class="buttons">
      <button type="button" class="previous-btn">이전</button>
      <button type="button" class="next-btn">다음</button>
    </div>
  </form>
</body>
</html>