:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  color: #FFF;
  background-color: #04003f;
  overflow: hidden;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}