@import './reset.scss';

body {
  font-family: sans-serif;
  background-color: #efffff;
}

#app {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 430px;
  height: 100px;
}

#player {
  position: relative;
  height: 100%;

  .player-track {
    position: absolute;
    top: 0;
    right: 15px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
  }
}

