:root {
  --bg: #EDF2F0;
  --neu-1: #ecf0f3;
  --neu-2: #d1d9e6;
  --white: #f9f9f9;
  --gray: #a0a5a8;
  --black: #181818;
  --purple: #4B70E2;

  --transition: 1.25s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 12px;
  background-color: var(--neu-1);
  color: var(--gray);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.dictionary {
  position: relative;
  width: 420px;
  min-width: 420px;
  border-radius: 7px;
  padding: 25px 28px 45px;
  box-shadow: 10px 10px 10px var(--neu-2), -10px -10px 10px var(--white);
}

.dictionary header h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
  line-height: 1.5;
}

.dictionary header .dictionary__search {
  position: relative;
  margin: 24px 0 18px;
}

.dictionary header .dictionary__search .search__input {
  width: 100%;
  height: 46px;
  margin: 4px 0;
  padding: 0 42px;
  font-size: 12px;
  letter-spacing: .15px;
  border: none;
  outline: none;
  background-color: var(--neu-1);
  border-radius: 8px;
  transition: 0.25s ease;
  box-shadow: inset 2px 2px 4px var(--neu-2), inset -2px -2px 4px var(--white);
}

.dictionary header .dictionary__search .search__input:focus {
  box-shadow: inset 4px 4px 4px var(--neu-2), inset -4px -4px 4px var(--white);
}

.dictionary header .dictionary__search .search__input:focus i.search {
  color: var(--purple);
}

.dictionary header .dictionary__search i {
  position: absolute;
  top: 50%;
  color: #999;
  cursor: pointer;
  transform: translateY(-50%);
}

.dictionary header .dictionary__search i.search {
  font-size: 16px;
  left: 18px;
}

.dictionary header .dictionary__search i.cancel {
  /* display: none; */
  right: 15px;
  font-size: 18px;
}

.dictionary header .dictionary__info {
  font-size: 13px;
  color: var(--gray);
  margin: -3px 0 -10px; 
}

.dictionary.active header .dictionary__info {
  display: none;
}

.dictionary .dictionary__content {
  height: 0;
  opacity: 0;
  overflow-y: hidden;
  transition: all 0.2s ease;
}

.dictionary.active .dictionary__content {
  opacity: 1;
  height: 303px;
}

.dictionary__word,
.dictionary__word-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--neu-2);
}

.dictionary__word .dictionary__word-details .word {
  font-size: 22px;
  font-weight: 500;
  color: var(--black);
}

.dictionary__word .dictionary__word-details .phontetics {
  font-size: 12px;
  color: var(--gray);
}

.dictionary__word i {
  color: #999;
  font-size: 15px;
  cursor: pointer;
}

.dictionary__word-list {
  max-height: 215px;
  overflow-y: auto;
}

.dictionary__word-list li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.dictionary__word-list::-webkit-scrollbar {
  width: 0px;
}

.dictionary__word-list .dictionary__word-details {
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
  border-left: 3px solid var(--purple);
}

.dictionary__word-list .dictionary__word-details p {
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  margin-bottom: 6px;
}
.dictionary__word-list .dictionary__word-details span {
  font-size: 15px;
  color: var(--gray);
}

.dictionary__word-list .synonyms .list > li{
  margin: 5px 0;
  line-height: 1;
}

.dictionary__word-list .synonyms .list > li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 24 24' stroke-width='1.74' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23000000'%3E%3Cpath d='M16 12l.011.01M19 12l.011.01M22 12l.011.01M2 12c0 5.523 4.477 10 10 10a9.985 9.985 0 008-3.999L12 12l8-6.001A9.985 9.985 0 0012 2C6.477 2 2 6.477 2 12z' stroke='%23a0a5a8' stroke-width='1.74' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.dictionary__word-list .synonyms span {
  text-decoration: underline;
  margin-right: 5px;
  cursor: pointer;
}